.projects {
    padding: 50px 0;
    text-align: center;
  }
  
  .project-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .project-card img {
    max-width: 30%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .project-card h3 {
    font-size: 1.5rem;
  }
  
  .project-card p {
    margin-bottom: 10px;
  }
  
  .project-card a {
    display: inline-block;
    margin-right: 10px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .project-card a:hover {
    color: #ff5722;
  }
  